@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
 
}

img {
  width: 100%;
}
h2 {
  color: hsl(228, 39%, 23%);
}
p {
  color: hsl(227, 12%, 61%);
  font-size: 1.2vw;
}
.social_links img:hover{
    filter: invert(100%);
    transition: .1s ease-in;
}
#footer a:hover{
    transition: .3s ease-in-out;
    color:  hsl(227, 12%, 61%);
    filter: grayscale(50%);
}
.social_links a:hover{
    transition: ease-in-out;
    transform: scale(.9);
}
button:hover{
   transition: .3s ease-in-out;
   background: hsla(12, 60%, 50%, 0.915);
}
 /* BROWSER CONTENT */ 
body {
  font-size: 1.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  background: hsl(0, 0%, 98%);
}
header a {
  color: whitesmoke;
}
.logo_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding-top: 4vh;
}
.sub_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_links {
  display: flex;

}

.nav_links a:hover{
    transition: .3s ease-in-out;
    color: red;
}

.nav_links li {
  padding: 0 3vw;
}

.nav_links li a {
  color: hsl(233, 12%, 13%);
  font-size: 1.2vw;
}

.ham {
  display: none;
}
.ham div {
  width: 25px;
  height: 3px;
  background-color: hsl(233, 12%, 13%);
  margin: 5px;
}
header button {
  padding: 1vh 3vw;
  border-radius: 20px;
  background: hsl(12, 88%, 59%);
  border: none;
}
.content_sub {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 10vh;
  gap: 10vw;
}

.together {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 50vw;
  gap: 1em;
}
.together h2 {
  letter-spacing: 5px;
  font-size: 3.5vw;
}
.together p {
  max-width: 30vw;
}
.together button {
  max-width: 40%;
}
.together_img {
  width: 100%;
}
.illustrator {
  height: 70%;
}
.line_img {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
  width: 40%;
  margin-top: -8vh;
}
.different_container .sub_container {
  width: 90%;
  margin: 0 auto;
  align-items: baseline;
  font-size: 1.3vw;
  padding-top: 5vh;
  gap: 5vw;
}
.sub__manage {
  display: flex;
  gap: 1vw;
  /* flex-direction: column; */
}
.number {
  border: 1px solid hsl(12, 88%, 59%);
  height: 4vh;
  border-radius: 20px;
  color: #fff;
  background: hsl(12, 88%, 59%);
}
.number span {
  padding: 1vh 1vw;
  display: flex;
  justify-content: center;
  text-align: center;
}
.manage_content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 3vh;
  width: 100%;
  max-width: 35vw;
}
.manage_content h2 {
  font-size: 1.5vw;
  color: hsl(228, 39%, 23%);
}
.manage {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  max-width: 40vw;
  /* align-items: center; */
}
.manage h2 {
  letter-spacing: 5px;
}
.manage p {
  max-width: 69%;
}
.tab {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 92vh;
  margin-left: -40vw;
}
.said_container img {
  width: 20%;
}
.said_container {
  text-align: center;
  padding: 10vh 0;
}
.said_container .sub_container {
  gap: 2vw;
  padding: 5vh 0;
  width: 90%;
  margin: 0 auto;
}
.said_content h2 {
  font-size: 1.3vw;
  padding: 2vh 0;
}
.said_content p {
  font-size: 1vw;
}
.btn {
  background: hsl(12, 88%, 59%);
  padding: 1vh 2.5vw;
  border: none;
  border-radius: 20px;
}
.btn a {
  color: #fff;
}
.simp_container {
  background-color: hsl(12, 88%, 59%);
}
.simp_container .sub_container {
  width: 90%;
  margin: 0 auto;
  padding: 5vh 0;
  color: hsl(0, 0%, 98%);
}
.simp_container .btn {
  background: hsl(0, 0%, 98%);
}
.simp_container p {
  color: hsl(0, 0%, 98%);
  font-size: 2vw;
  max-width: 30%;
}
.simp_container a {
  color: hsl(12, 88%, 59%);
}
.slider_links {
  display: none;
}
.footer_container {
  background: hsl(233, 12%, 13%);
}
.social_links {
  display: inline-flex;
}
.f_logo_container {
  display: flex;
  flex-direction: column;
  gap: 12vh;
}
.f_logo_container a {
  padding-right: 2vw;
}
#footer .sub_container {
  width: 90%;
  margin: 0 auto;
  padding: 7vh 0;
  align-items: baseline;
  transition: all 0.3s ease;
}
#footer a {
  color: #fff;
}
.f_nav li {
  padding-bottom: 2vh;
}
.f_nav a {
  font-size: 1.2vw;
}
.newsletter input[type="email"] {
  padding: 1.5vh 4vw;
  border-radius: 20px;
  border: 0;
  text-align: center;
  font-size: 1vw;
  text-transform: capitalize;
}
.newsletter input[type="submit"] {
  padding: 1.5vh 1.5vw;
  color: hsl(0, 0%, 98%);
}
.f_nav_c {
  display: flex;
  gap: 10vw;
  padding: 5vh 0;
  justify-content: space-around;
}
.f_headr img {
  filter: white;
  -webkit-filter: invert(100%);
}
.attribution {
  background-color: hsl(233, 12%, 13%);
  color: hsl(0, 0%, 98%);
  text-align: center;
  margin: 0 auto;
}
.attribution a {
  color: teal;
}
.said_container span i{
    display: none;
}
@media screen and (max-width: 1024) {
  .nav_links li {
    padding: 0 5vw;
  }
}
@media screen and (max-width: 768px) {
  /* FOOTER */
  #footer .sub_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .f_logo_container {
    display: flex;
    flex-direction: column-reverse;
    gap: 2vh;
  }
  #footer a {
    font-size: 3.5vw;
    text-align: center;
  }
  .social_links img {
    width: 10vw;
  }
  .social_links {
    gap: 3vw;
  }
  .sub_container .f_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  form {
    display: flex;
    gap: 2vw;
    margin-bottom: 2vh;
  }
  .newsletter input[type="email"] {
    padding: 1.5vh 12vw;
    font-size: 3.5vw;
  }
  .newsletter input[type="submit"] {
    padding: 1.2vh 3vw;
  }

  .f_nav_c {
    gap: 11vw;
  }

  * {
    font-size: 3vw;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .logo_container {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    width: 90%;

    /* gap: 0; */
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
    gap: 2em;
    background: #fff;
    background-size: cover;
    border-radius: 5px;
    transform: translateX(100%);
    display: none;
    transition: all 0.3s ease-in-out;
    z-index: 4;
    box-shadow: 5px 5px #fff;
    

  
  }
  .sub_container {
    padding: 3vh 0;
  
   
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-size: 3vw;
  }
  .started {
    padding-top: 2vh;
  }
  .ham {
    display: block;
    cursor: pointer;
  }
  .open-nav {
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    animation: fade 0.3s linear;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 35vh;
  }
  .nav_links li {
    animation: fadelinks 0.3ms linear;
   
  }
.nav_links li a{
    font-size: 5vw;
    
}

  .sub_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
  }
  .content_sub {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 2.5vw;
    margin: 0 auto;
    gap: 0;
  }

  .together {
    max-width: 90%;
  }
  .together button {
    width: 30%;
  }
  .content_sub button {
    width: 100%;
    align-items: center;
  }

  /* DIFFERENT */

  .manage {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 5vw;
  }
.sub_manage{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
   gap: 0;

  
}
.sub__manage{
    gap: 0;
    padding: 0;
    

}
.sub__manage h2{
    text-align: left;
    /* margin-bottom: 3vh; */
}
  .different_container {
    padding-top: 5vh;
    padding-bottom: 0;
  }
  .different_container .sub_container p {
    font-size: 2.5vw;
    max-width: 100%;
  }
  .manage_content h2 {
    font-size: 3vw;
  }
  .manage_content {
    max-width: 90%;
  }
  .number {
    gap: 0;
    padding: 0;
    width: 10%;
    padding-right: 0;
    overflow-y: hidden;
    align-items: center;
    left: 12vw;
    position: absolute;
    display: none;

    
  }
  .said_container span i{
    display: block;
    margin-top: 2vh;
    font-size: 5vw;
    color: hsl(12, 88%, 59%);
  }

  /* SAID CONTENT */
  .said_content p {
    font-size: 2.5vw;
    width: 70%;
  }
.said_container.said_container{
    padding-top: 0;
    margin-top: 0;
}
  .said_container .sub_container {
    display: flex;
    flex-direction: row;
    gap: 0;
    overflow: hidden;
    width: 300vw;
    transition: all 0.3s ease;
    animation: fadelinks 0.5s linear;

  }
  .said_content h2 {
    font-size: 2vw;
  }
  .together p {
    font-size: 2.5vw;
    max-width: 90%;
  }
  .tab {
    top: 60vh;
    right: 0;
    margin-left: 70vw;
    width: 50%;
    display: none;
  }
  .simp_container .sub_container p {
    text-align: center;
    font-size: 6vw;
    max-width: 50%;
    padding-bottom: 2vh;
  }

  .slider_links {
    display: flex;
    width: 15%;
    padding-bottom: 5vh;
  }
  .slider_links li {

    border: 1px solid hsl(12, 88%, 59%);
    height: 1.5vh;
    width: 2vw;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
  }
  span {
    cursor: pointer;
  }
  .slider_links li.selected {
    background-color: hsl(12, 88%, 59%);
  }
}
.animate_slide {
  animation: fade 0.1s linear;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
@keyframes fade {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fadelinks {
  from {
    opacity: 0;
    transform: translate(-10px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.invalid_input{
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3
}

@keyframes shake{
    0%{
        left:-10px ;
    }
    100%{
        right: 5px;
    }
}